@import 'tailwindcss';
@plugin 'tailwindcss-motion';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --landing-screen: #D9D9D9;
  --landing-screen-secondary: #e0e0e0;
  --highlight: #9C9C9C;
  --background: #F2F2F2;
  --about-me: #3866F2;
  --about-me-headings: var(--about-me);
  --portfolio: #154666;
  --portfolio-headings: var(--portfolio);
  --footer: #A6A6A6;
  --font: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  /* Popping animations */
  --text-shadow-start: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
  --text-shadow-end-right: 1px 0 #000000, calc(2px + 1vw) 0 #000000;
  --text-shadow-end-about-me: 1px 0 #000000, calc((2px + 0.8vw) * -1) 0 #000000;
  --text-shadow-end-portfolio: 1px 0 #000000, calc((2px + 0.8vw)) 0 #000000;
  --transform-end-right: calc((2px + 1vw) * -1);
  --transform-end-about-me: calc((2px + 0.8vw) / 2);
  --transform-end-portfolio: calc((2px + 0.8vw) / -2);
}

:root[class*='dark-mode'] {
  --landing-screen: #6b6b6b !important;
  --landing-screen-secondary: #6e6e6e !important;
  --highlight: #8a8a8a !important;
  --background: #383838 !important;
  --about-me: #102B76 !important;
  --about-me-headings: white !important;
  --portfolio: #061E2D !important;
  --portfolio-headings: white !important;
  --footer: #636363 !important;
  --font: #FFFFFF !important;
}

:root::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: var(--background);
}

:root::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--background);
}

:root::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--footer);
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--font);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navlist{
  color: #000000;
  mix-blend-mode: unset;
}

.navlist .mobile-nav{
  color: #000000;
  mix-blend-mode: unset;
}

.navlist img{
  mix-blend-mode: unset;
  filter: invert(0);
}

:root[class*='dark-mode'] .navlist{
  color: #ffffff;
  mix-blend-mode: unset;
}

:root[class*='dark-mode'] .navlist img{
  mix-blend-mode: unset;
  filter: invert(0);
}

:root[class*='dark-mode'] .navlist .mobile-nav{
  color: #ffffff;
  mix-blend-mode: unset !important;
}

/* Landing screen background */

.landing-screen{
  background-image:  linear-gradient(30deg, var(--landing-screen-secondary) 12%, transparent 12.5%, transparent 87%, var(--landing-screen-secondary) 87.5%, var(--landing-screen-secondary)), linear-gradient(150deg, var(--landing-screen-secondary) 12%, transparent 12.5%, transparent 87%, var(--landing-screen-secondary) 87.5%, var(--landing-screen-secondary)), linear-gradient(30deg, var(--landing-screen-secondary) 12%, transparent 12.5%, transparent 87%, var(--landing-screen-secondary) 87.5%, var(--landing-screen-secondary)), linear-gradient(150deg, var(--landing-screen-secondary) 12%, transparent 12.5%, transparent 87%, var(--landing-screen-secondary) 87.5%, var(--landing-screen-secondary)), linear-gradient(60deg, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary)) 25%, transparent 25.5%, transparent 75%, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary)) 75%, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary))), linear-gradient(60deg, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary)) 25%, transparent 25.5%, transparent 75%, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary)) 75%, color-mix(in srgb, var(--landing-screen), var(--landing-screen-secondary)));
  background-size: 156px 273px;
  background-position: 0 0, 0 0, 78px 136.5px, 78px 136.5px, 0 0, 78px 136.5px;
  background-color: var(--landing-screen);
}

:root[class*='dark-mode'] .landing-screen{
  filter: brightness(0.9);
}

/* Burger menu */

.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 1px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

:root[class*='dark-mode'] .bar1,
:root[class*='dark-mode'] .bar2,
:root[class*='dark-mode'] .bar3 {
  width: 24px;
  height: 1px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

/* Popping animations */

.text-shadow-pop-right,
.text-shadow-pop-about-me,
.text-shadow-pop-portfolio {
  animation: text-shadow-pop 0.6s forwards;
}

.text-shadow-pop-right {
  --text-shadow-end: var(--text-shadow-end-right);
  --transform-end: var(--transform-end-right);
}

.text-shadow-pop-about-me {
  --text-shadow-end: var(--text-shadow-end-about-me);
  --transform-end: var(--transform-end-about-me);
}

.text-shadow-pop-portfolio {
  --text-shadow-end: var(--text-shadow-end-portfolio);
  --transform-end: var(--transform-end-portfolio);
}

@keyframes text-shadow-pop {
  0% {
    text-shadow: var(--text-shadow-start);
    transform: translateX(0);
  }
  100% {
    text-shadow: var(--text-shadow-end);
    transform: translateX(var(--transform-end));
  }
}