@import 'tailwindcss';
@plugin 'tailwindcss-motion';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --landing-screen: #D9D9D9;
  --landing-screen-secondary: #e0e0e0;
  --highlight: #9C9C9C;
  --background: #F2F2F2;
  --about-me: #596A9D;
  --about-me-headings: var(--about-me);
  --portfolio: #5A819E;
  --portfolio-headings: var(--portfolio);
  --footer: #484848;
  --font: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  /* Popping animations */
  --text-shadow-start: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
  --text-shadow-end-right: 1px 0 #000000, calc(2px + 1vw) 0 #000000;
  --text-shadow-end-about-me: 1px 0 #000000, calc((2px + 0.8vw) * -1) 0 #000000;
  --text-shadow-end-portfolio: 1px 0 #000000, calc((2px + 0.8vw)) 0 #000000;
  --transform-end-right: calc((2px + 1vw) * -1);
  --transform-end-about-me: calc((2px + 0.8vw) / 2);
  --transform-end-portfolio: calc((2px + 0.8vw) / -2);
}

:root[class*='dark-mode'] {
  --landing-screen: #6b6b6b !important;
  --landing-screen-secondary: #6e6e6e !important;
  --highlight: #8a8a8a !important;
  --background: #383838 !important;
  --about-me: #424E74 !important;
  --about-me-headings: white !important;
  --portfolio: #2F4252 !important;
  --portfolio-headings: white !important;
  --footer: #111111 !important;
  --font: #FFFFFF !important;
}

:root::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: var(--background);
}

:root::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--background);
}

:root::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--footer);
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--font);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navlist{
  color: #000000;
  mix-blend-mode: unset;
}

.navlist .mobile-nav{
  color: #000000;
  mix-blend-mode: unset;
}

.navlist img{
  mix-blend-mode: unset;
  filter: invert(0);
}

:root[class*='dark-mode'] .navlist{
  color: #ffffff;
  mix-blend-mode: unset;
}

:root[class*='dark-mode'] .navlist img{
  mix-blend-mode: unset;
  filter: invert(0);
}

:root[class*='dark-mode'] .navlist .mobile-nav{
  color: #ffffff;
  mix-blend-mode: unset !important;
}

/* Landing screen background */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 1200px;
  --speed: 40s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#3866F2, #154666);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (max-width: 550px) {
  .gradient {
    --size: 650px;
  }
}

/* Burger menu */

.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 1px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

:root[class*='dark-mode'] .bar1,
:root[class*='dark-mode'] .bar2,
:root[class*='dark-mode'] .bar3 {
  width: 24px;
  height: 1px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}